
P { color: #3366CC; font-family: Arial; font-weight: bold}
.uno { color: #FF6600 }
.dos {color: #FF6666; font-family: algerian }
.tres {color:#FF66FF }
.inputchico { width:45}
.textonegrita { font-weight: bold}
.label
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 6px;
    FONT: bold 13px arial;
    COLOR: #00559a;
    /*TEXT-ALIGN: right*/
}
.clasediv_padre {
	/*
	height:40%;
	width:50%;  
	*/
	display: flex;
	justify-content: center;
	BACKGROUND-COLOR: white;

}
.clasediv_hijo {
	text-align: center;
	BACKGROUND-COLOR: #FFD968;
	padding: 10px;
	margin: 10px;
  	height:30%;
	width:30%;
}

.FondoPagina
{
    /*BACKGROUND-POSITION: center;*/
    BACKGROUND-ATTACHMENT: fixed ;
    BACKGROUND-IMAGE: url(itu_vitual_blanco.png);
    BACKGROUND-REPEAT: no-repeat; 
    BACKGROUND-COLOR: #e1ddd2;
	top: 0px;
	left: 0px;
}
.Boton
{
    BORDER-RIGHT: #E3EDEE thin outset;
    PADDING-RIGHT: 8px;
    BORDER-TOP: #E3EDEE thin outset;
    PADDING-LEFT: 8px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #E3EDEE thin outset;
    WIDTH: 100px;
    CURSOR: hand;
    CURSOR: pointer;
    COLOR: white;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #E3EDEE thin outset;
    FONT-FAMILY: Verdana;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #312b6f
}